/* from here starts the popup style */


body
{
	background:black;
}

header
{
	background-color:#1d1d1d;
	width:265px;
	height:36px;
	background-image:url("../images/live.png");
	background-repeat:no-repeat;
	background-position:right 5px center;
}

header h2
{
	width:180px;
	height:36px;
	background-image:url("../images/live_feed.jpg");
	background-repeat:no-repeat;
	background-position:right 5px center;
	/* 
	margin: 3px 0 3px 10px;
	padding: 3px 0;
	 */
	 
}

#content
{
	background-image:url("../images/BG_map.jpg");
	background-repeat:no-repeat;
	background-color:black;
	width:265px;
	height:225px;
	margin: 0, auto;
	word-wrap: break-word;
}

.buttons
{
    float:left;
    list-style-type:none;
    margin: 0;
	padding: 0;
}
.buttons li
{
	text-align: center;
	display:inline-block;
}

.buttons li:hover 
{
	opacity:0.7;
}
buttons:active 
{
}

#twitter
{
	position:relative;
	width:85px;
	height:78px;
	background-image:url("../images/left_button.jpg");
	background-repeat:no-repeat;
}
#warn
{
	position:relative;
	width:85px;
	height:78px;
	background-image:url("../images/middle_button.jpg");
	background-repeat:no-repeat;
}
#report
{	
	position:relative;
	width:85px;
	height:78px;
	background-image:url("../images/right_button.jpg");
	background-repeat:no-repeat;
}

#twitter_update_list
{	
	padding-left:20px;
	padding-top:20px;
	color:white;
	font-family: 'Ubuntu Mono';
	line-height:18px;
}


.clear
{
	clear:both;
}
