*
{
	margin:0px;
	padding:0px;
}

header,section,nav,aside,footer,article
{ 
 display:block; 
} 

.index
{
	background-image:url("../images/bgcolor.png");
	background-repeat:repeat-x;
	background-size:60px;
}

.layout2
{
	background-image:url("../images/bgcolor.png");
	background-repeat:repeat-x;
	background-size:90px;
}
#wrapper
{
	background-color:#326c99;
	width:450px;
	margin:0px auto;
}

.index nav
{
	width:50px;
	height:900px;
	float:left;
}

.layout2 nav
{
	position:fixed;
	top:0px;
    bottom:0px;  
	width:450px;
	height:50px;
	border-bottom:1px solid white;
	background-color:#326c99
}


.index #content
{
	position:relative;
	border-right:1px solid white;
	border-left:1px solid white;
	float:left;
	width:300px;
	height:900px;
}

.layout2 #content
{
	border-right:1px solid white;
	float:left;
	width:330px;
	height:1200px;
}

aside
{
	float:left;
	width:98px;
	height:900px;
	text-align:center;
}

aside section
{
	background-color:#ffffff;
	width:50px;
	height:50px;
	margin-left:30px;
	margin-top:90px;
}

.index article:first-child
{
	position:absolute;
	background-color:#ffffff;
	width:120px;
	height:40px;
	top:100px;
	left:8px;
}

.index article:last-child
{
	position:absolute;
	background-color:#ffffff;
	width:230px;
	height:300px;
	top:593px;
	left:60px;
}

.layout2 article:first-child
{
	background-color:#ffffff;
	width:160px;
	height:110px;
	margin-top:75px;
	margin-left:15px;
}

.layout2 article:last-child
{
	background-color:#ffffff;
	width:120px;
	height:95px;
	margin-top:850px;
	margin-left:110px;
}

nav a
{
	margin:0px auto;
	background-color:#666699;
	margin:5px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:12px;
	text-decoration:none;
}

.layout2 nav section
{
	position:absolute;
	top:30px;
	left:100px;
}

#current
{
	color:yellow;
}

footer
{
	border-top:solid 1px white;
	width:450px;
	height:90px;
}

.clear
{
	clear:both;
}

#object1 { position: absolute; left: -200px; top: 200px;}
#object1 { background-color: #ff0000; z-index:10; height: 20px; width: 100px; }

.popup, .close { position: absolute; height: 200px; width: 200px; }
.popup { background: #f00; top: 500px; left: 480px; z-index: 1; }
.close { background: #ff0; top: 450px; left: 530px; z-index: 0; }

.overlay 	// dynamic Highlight-word finding
{
    position: absolute;
    border: 1px solid red;
    background: #dff;
    margin: -1px;
    z-index: -1;
}
p 
{
    width: 250px;
    margin: 24px 65px;
}
p.span 
{
    font-weight: bold;
}

.trans 
{ 
	opacity: 0; filter: alpha(opacity: 0);
}